{{ define "main" }}
<article class="markdown book-post">
  <h1>{{ .Title }}</h1>
  <div class="book-post-content">
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ range $posts.GroupByDate "2006" }}
    <section class="book-archive-year">
      <h2>{{ .Key }} <small>({{ len .Pages }} 篇)</small></h2>
      <ul class="book-archive-posts">
        {{ range .Pages.ByDate.Reverse }}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "01-02" }}</time>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  </div>
</article>
{{ end }}

{{ define "toc-container" }}
<aside class="book-toc">
  <div class="book-toc-content">
    {{ template "toc" . }}
  </div>
</aside>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}

